<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pastpaperportal_group1b">

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ChangedPassword"></activity>
        <activity android:name=".send_message" />
        <activity android:name=".requests" />
        <activity android:name=".manage_users" />
        <activity android:name=".admin_dashboard" />
        <activity android:name=".UploadOrEdit" />
        <activity android:name=".SearchCommon" />
        <activity android:name=".ViewQuestion" />
        <activity
            android:name=".Comments_Image"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Profile" />
        <activity android:name=".SignUp" />
        <activity android:name=".Login" />
        <activity android:name=".UploadOrEditPaperPage" />
        <activity android:name=".AddQuestionOrAnswer" />
        <activity android:name=".Forum" />
        <activity android:name=".AfterUpload" />
        <activity android:name=".ViewPaper" />
        <activity android:name=".PapersAfterSearch" />
        <activity android:name=".FirebaseUIActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>